---
import CTA from '@components/CTA.astro'
import PaperPlane from '@icons/PaperPlane.astro'
---

<aside class='flex w-full flex-col items-center justify-start gap-8 md:flex-row md:justify-between lg:gap-12'>
  <h3 class='max-w-[350px] text-center text-lg font-bold text-white sm:text-2xl lg:text-3xl'>
    ¿Interesado en trabajar juntos?
  </h3>
  <div class='w-full max-w-[300px]'>
    <CTA text='Envíame un correo' link='mailto:francocarballar@gmail.com'>
      <PaperPlane />
    </CTA>
  </div>
</aside>
