---
import { type NavigationLink } from '../types/menu'

interface Props extends NavigationLink {}

const { name, url } = Astro.props
---

<li class='box-border list-none whitespace-nowrap data-[active=true]:font-semibold'>
  <a
    class='tap-highlight-transparent data-[focus-visible=true]:outline-focus text-foreground active:opacity-disabled relative inline-flex items-center rounded-full py-1 no-underline outline-none transition-all hover:opacity-80 focus:bg-gradient-to-r focus:from-primary focus:to-secondary focus:px-5 data-[focus-visible=true]:z-10 data-[active=true]:bg-gradient-to-r data-[active=true]:from-primary data-[active=true]:to-secondary data-[active=true]:px-5 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-offset-2'
    aria-current={Astro.url.pathname === url}
    color='foreground'
    data-active='false'
    href={url}
    id={url}>
    {name}
  </a>
</li>
<script>
  const tags = document.querySelectorAll("a[data-active='false']")
  const home = document.getElementById('#home')
  home?.setAttribute('data-active', 'true')

  tags.forEach(tag => {
    tag.addEventListener('click', () => {
      const currentValue = tag.getAttribute('data-active')

      home?.setAttribute('data-active', 'false')
      tags.forEach(tag => tag.setAttribute('data-active', 'false'))

      if (currentValue === 'false') {
        tag.setAttribute('data-active', 'true')
      }
    })
  })
</script>
